html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Mobile View (No Media Queries) */
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

/* Tablet View (772px) */
@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid figure {
        border-radius: 50%;
    }
    .grid figure:last-child {
        grid-column: span 2;
    }
}

/* Large Screen View (992px) */
@media screen and (min-width: 992px) {
    .grid figure:nth-child(3n) {
        grid-column: span 2;
    }
    .grid figure {
        border-radius: 0;
    }
}

/* prefers-reduced-motion Media Query */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Dark Mode Media Query */
@media (prefers-color-scheme: dark) {
    .grid figure {
        background-color: #333;
        color: #fff; /* Lighter font color */
        border-color: #000; /* Black border color */
    }
}
